<%= content_for :sitemap do %>
  <span class="current">列表</span>
<% end %>
<%= content_for :styles do %>
<% end %>

<%= content_for :base_sitemap do %>
  <ul class="breadcrumb">
    <li><a href="/admin/index">管理后台</a> <span class="divider">/</span></li>
    <li><a href="<%= artists_path %>">艺术家</a></li>
  </ul>
<% end %>
  
  <div class="tools">
    <a href="<%= artists_path %>" class=btn btn-info">查看所有</a>
    <a href="<%= new_artist_path %>" class="btn btn-success">新建</a>
  </div>

  <div id="artists">
    <%= grid(@artists_grid, :show_filters => :always) do |g|
      g.column :name => '', :attribute => 'id',  filter: false
      g.column :name => '姓名', :attribute => 'name'
      g.column :name => '出生年份', :attribute => 'age',  filter: false
      g.column :name => '出生地', :attribute => 'birthplace',  filter: false
      g.column :name => '现居地', :attribute => 'address',  filter: false
      g.column :name => '创建时间', :attribute => 'created_at',  filter: false
      g.column :name => '操作' do |c|
        raw "#{link_to '修改', edit_artist_path(c.id)}
      #{link_to '删除', artist_path(c.id), :method => :delete, :confirm => '确定要删除吗?'}"
      end
    end %>
  </div>


