<div id="content"><div class="container one_col">
    <div class="col_main">
      <div class="bc_and_fr clearfix">
        <p class="breadcrumbs"><a href=".">首页</a> <code>/</code> <a href="art">艺术品</a></p>		<div class="collect_view">
          <a href="javascript:;" class="fullscreen tip" title="进入全屏模式" id="fullsreeen" style="display:none;">进入全屏模式</a>
          <a href="javascript:window.print();" class="print tip" title="打印">打印</a>
        </div>
        <div class="filter">
        </div>
      </div>

      <div class="list_switcher_box">

        <div class="box" id="goods_list">
          <div class="bd goods_list">
            <ul>
              <% @artworks.each do |a| %>
                <li class="first_child" data-id="9789">
                  <span class="photo">
                    <a href="/artworks/<%=a.id%>" title="<%=a.title%>" class="image"><img src="<%=a.avater1.url(:medium)%>" alt="<%=a.artist.name%>_<%=a.title%>"/></a>
                  </span>
                  <span class="info">
                    <a href="<%=a.artist.pinyin%>" title="<%=a.artist.name%>" class="brand"><%=a.artist.name%></a>
                    <a href="art-9789.html" title="<%=a.title%>" class="name"><%=a.title%></a>
                  </span>
                </li>
              <%end%>
            </ul>
            <!--p class="pagination">
              <a href="artworks-1-0---0-----1.html#goods_list" class="page current">1</a>
              <a href="artworks-1-0---0-----2.html#goods_list" class="page">2</a>
              <a href="artworks-1-0---0-----3.html#goods_list" class="page">3</a>
              <a href="artworks-1-0---0-----4.html#goods_list" class="page">4</a>
              <a href="artworks-1-0---0-----5.html#goods_list" class="page">5</a>
              <a href="artworks-1-0---0-----6.html#goods_list" class="page">6</a>
              <a href="artworks-1-0---0-----7.html#goods_list" class="page">7</a>
              <a href="artworks-1-0---0-----8.html#goods_list" class="page">8</a>
              <a href="artworks-1-0---0-----9.html#goods_list" class="page">9</a>
              <a href="artworks-1-0---0-----10.html#goods_list" class="page">10</a>
              <a href="artworks-1-0---0-----2.html#goods_list" class="next">下一页 &raquo;</a>	<span class="gap">...</span><a href="artworks-1-0---0-----705.html#goods_list" class="last">最末页</a>
            </p-->
          </div>
        </div>
      </div>	

    </div>
  </div></div>

<!--
<div id="galleria">
</div>
<script type="text/javascript" src="/static/js/galleria.js"></script>
<script type="text/javascript">
        var galleryData = [
                        {
                thumb: '/images/201311/goods_img/9996_G_1384307521265.jpg',
                image: '/images/201311/goods_img/9996_G_1384307521265.jpg',
                big: '/images/201311/big_img/9996_big_P_1384307521504.jpg',
                title: '梅林初雪',
                link: 'artwork-9996.html'
        },				{
                thumb: '/images/201311/goods_img/9995_G_1384307338677.jpg',
                image: '/images/201311/goods_img/9995_G_1384307338677.jpg',
                big: '/images/201311/big_img/9995_big_P_1384307338723.jpg',
                title: '秋阳',
                link: 'artwork-9995.html'
        },				{
                thumb: '/images/201311/goods_img/9994_G_1384306999373.jpg',
                image: '/images/201311/goods_img/9994_G_1384306999373.jpg',
                big: '/images/201311/big_img/9994_big_P_1384306999806.jpg',
                title: '朝阳',
                link: 'artwork-9994.html'
        },				{
                thumb: '/images/201311/goods_img/9993_G_1384298173126.jpg',
                image: '/images/201311/goods_img/9993_G_1384298173126.jpg',
                big: '/images/201311/goods_img/9993_P_1384298173411.jpg',
                title: '近景',
                link: 'artwork-9993.html'
        },				{
                thumb: '/images/201311/goods_img/9992_G_1384297611246.jpg',
                image: '/images/201311/goods_img/9992_G_1384297611246.jpg',
                big: '/images/201311/goods_img/9992_P_1384297611026.jpg',
                title: '海天写生',
                link: 'artwork-9992.html'
        },				{
                thumb: '/images/201311/goods_img/9991_G_1384208550055.jpg',
                image: '/images/201311/goods_img/9991_G_1384208550055.jpg',
                big: '/images/201311/goods_img/9991_P_1384208550762.JPG',
                title: '仙家胜景正斜曛',
                link: 'artwork-9991.html'
        },				{
                thumb: '/images/201311/goods_img/9990_G_1384207056289.jpg',
                image: '/images/201311/goods_img/9990_G_1384207056289.jpg',
                big: '/images/201311/goods_img/9990_P_1384207056964.JPG',
                title: '阿房宫',
                link: 'artwork-9990.html'
        },				{
                thumb: '/images/201311/goods_img/9989_G_1384206608884.jpg',
                image: '/images/201311/goods_img/9989_G_1384206608884.jpg',
                big: '/images/201311/goods_img/9989_P_1384206611415.JPG',
                title: '情满都江堰',
                link: 'artwork-9989.html'
        },				{
                thumb: '/images/201311/goods_img/9988_G_1384192826436.jpg',
                image: '/images/201311/goods_img/9988_G_1384192826436.jpg',
                big: '/images/201311/big_img/9988_big_P_1384192826230.jpg',
                title: '我就是风景21号',
                link: 'artwork-9988.html'
        },				{
                thumb: '/images/201311/goods_img/9987_G_1384124410838.jpg',
                image: '/images/201311/goods_img/9987_G_1384124410838.jpg',
                big: '/images/201311/goods_img/9987_P_1384124411958.jpg',
                title: '花境NO.2',
                link: 'artwork-9987.html'
        },				{
                thumb: '/images/201311/goods_img/9986_G_1383889363140.jpg',
                image: '/images/201311/goods_img/9986_G_1383889363140.jpg',
                big: '/images/201311/goods_img/9986_P_1383889363441.jpg',
                title: '黑果',
                link: 'artwork-9986.html'
        },				{
                thumb: '/images/201311/goods_img/9985_G_1383881856635.jpg',
                image: '/images/201311/goods_img/9985_G_1383881856635.jpg',
                big: '/images/201311/goods_img/9985_P_1383881856507.jpg',
                title: '一沙一世界NO.2',
                link: 'artwork-9985.html'
        }			];
if ($.browser.msie && ($.browser.version == "6.0") && !$.support.style) {
}else{
        $('#fullsreeen').show();
        Galleria.loadTheme('/static/js/galleria.twelve.min.js');
        $('#galleria').galleria({
                dataSource: galleryData,
                imageCrop: false,
                thumbCrop: false,
                _showPopout: false,
                _locale: {
                        show_thumbnails: '显示缩略图',
                        hide_thumbnails: '隐藏缩略图',
                        play: '滚动播放',
                        pause: '停止滚动播放',
                        enter_fullscreen: '进入全屏模式',
                        exit_fullscreen: '退出全屏模式',
                        popout_image: '弹出图片',
                        showing_image: '显示图片 %s / %s'
                },
                extend: function(options) {
                        var gallery = this;
                        $('#fullsreeen').click(function() {
                                $('.tipsy').remove();
                                gallery.enterFullscreen();
                        });
                }
        });
}
</script>

-->