
<div id="content"><div class="container one_col">
    <div class="col_main">

      <div class="slider">
        <ul class="ads">
          <% @slides.each do |s| %>
            <li>
              <a href="<%=s.link%>"><img src="<%=s.image.url(:content)%>" alt="<%=s.title%>"/></a>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="box extra_box best_goods">
        <div class="hd">
          <h3>精选</h3>
          <div class="extra">
          </div>
        </div>
        <div class="bd goods_list display_grid">
          <div class=" goods_slider_big">
            <ul>
              <% @artworks.each do |a| %>
              <li class="first_child" data-id="9789">
                <span class="photo">
                  <a href="art-9789.html" title="<%=a.title%>" class="image"><img src="<%=a.avater1.url(:medium)%>" alt="<%=a.artist.name%>_<%=a.title%>"/></a>
                </span>
                <span class="info">
                  <a href="<%=a.artist.pinyin%>" title="<%=a.artist.name%>" class="brand"><%=a.artist.name%></a>
                  <a href="art-9789.html" title="<%=a.title%>" class="name"><%=a.title%></a>
                </span>
              </li>
              <%end%>
            </ul>
          </div>
          <a href="#" title="更多精选" class="more button brighter_button"><span>更多</span></a>
        </div>
      </div>

      <div class="reception clearfix">
        <div class="col_1 press_wrapper">
          <div class="press_slider">
            <ul>
              <li><a href="http://www.hihey.com/article-374.html" target="_blank" class="logo"><img src="/data/afficheimg/1377248938450446788.png" /></a><p class="quote"><span class="bqstart">&#8220;</span>HIHEY网上销售平台成为艺术家们的最佳推广渠道<span class="bqend">&#8221;</span></p></li>
              <li><a href="http://www.hihey.com/article-369.html" target="_blank" class="logo"><img src="/data/afficheimg/1375237524058453694.gif" /></a><p class="quote"><span class="bqstart">&#8220;</span>HIHEY每年的成长速度超过120%<span class="bqend">&#8221;</span></p></li>
              <li><a href="http://www.hihey.com/article-286.html" target="_blank" class="logo"><img src="/data/afficheimg/1360007837649742779.png" /></a><p class="quote"><span class="bqstart">&#8220;</span>中国企业家：HIHEY让屌丝艺术家成功逆袭艺术新时代<span class="bqend">&#8221;</span></p></li>
              <li><a href="http://www.hihey.com/article-282.html" target="_blank" class="logo"><img src="/data/afficheimg/1358468497948434990.jpg" /></a><p class="quote"><span class="bqstart">&#8220;</span>在hihey.com您可以网购到一件自己喜欢又支付得起的原版艺术品。<span class="bqend">&#8221;</span></p></li>
              <li><a href="http://www.hihey.com/article-151.html" target="_blank" class="logo"><img src="http://www.globaltimes.cn/Portals/0/logo.jpg" /></a><p class="quote"><span class="bqstart">&#8220;</span>hihey.com makes art consumption accessible<span class="bqend">&#8221;</span></p></li>
              <li><a href="http://www.hihey.com/article-114.html" target="_blank" class="logo"><img src="http://www.hihey.com/images/upload/Image/chuangyejia.gif" /></a><p class="quote"><span class="bqstart">&#8220;</span>HIHEY把艺术品交易从拍卖行搬到互联网<span class="bqend">&#8221;</span></p></li>
              <li><a href="http://www.hihey.com/article-112.html" target="_blank" class="logo"><img src="/data/afficheimg/1330321747432461207.png" /></a><p class="quote"><span class="bqstart">&#8220;</span>HIHEY线上拍卖让艺术品消费走近大众<span class="bqend">&#8221;</span></p></li>
            </ul>
          </div>
        </div>
        <div class="col_2">
          <div class="small_auction_board">
            <a href="auction">
              <span class="status">有<strong>9</strong>件拍品正在拍卖</span>
              <span class="action"><span class="button brighter_button"><span>查看</span></span></span>
            </a>
          </div>		</div>
        <div class="col_3 recognition">
          <a href="http://itunes.apple.com/cn/app/id530457013?mt=8"><img src="/static/img/banner/app.gif" /></a>
        </div>
      </div>
      <div class="reception clearfix">
        <div class="col_1 news">
          <div class="cat_articles box">
            <div class="hd">
              <h3>新闻中心</h3>
              <div class="extra">
                <a href="article_cat-13.html">更多</a>
              </div>
            </div>
            <div class="bd">
              <ul class="text_list">
                <li class="first"><a href="article-392.html" title="芜湖雕塑公园给地方城市竞争力带来新模式">芜湖雕塑公园给地方城市竞争力带来新模式</a></li>
                <li><a href="article-391.html" title="HIHEY.COM 写实油画拍卖10月26日举行">HIHEY.COM 写实油画拍卖10月26...</a></li>
                <li><a href="article-390.html" title="艺术品线上交易蚂蚁欲变大象 演绎新格局">艺术品线上交易蚂蚁欲变大象 演绎新格局</a></li>
                <li><a href="article-389.html" title="十月陶瓷，个性之最">十月陶瓷，个性之最</a></li>
                <li><a href="article-388.html" title="“东方神起”新水墨">“东方神起”新水墨</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col_2 contact">
          <h3>需要帮助？</h3>
          <p class="tel"><strong>电话：</strong><em>4008-123-798</em></p>
          <p class="email"><strong>E-mail：</strong><em>info@hihey.com</em></p>
          <p class="feedback"><a href="message.php"><span>在线留言板</span></a></p>
        </div>
        <div class="col_3 stay_connected">
          <h3>保持联系</h3>
          <div class="subscription" id="subscription">
            <p>加入我们的订阅邮件</p>
            <form action="javascript:void(0);">
              <input type="text" name="email" title="E-mail地址无效" class="input"/>
              <input type="button" value="订阅" onclick="addEmailList();" class="btn_s1"/>
              <input type="button" value="退订" onclick="cancelEmailList();" class="btn_s1"/>
            </form>
          </div>
          <div class="sns">
            <a href="http://facebook.com/hihey" title="Facebook" class="facebook tip first" rel="external">Facebook</a>
            <a href="https://twitter.com/#!/hiheyart" title="Twitter" class="twitter tip" rel="external">Twitter</a>
            <a href="http://site.douban.com/118007/" title="豆瓣小站" class="douban tip" rel="external">豆瓣小站</a>
            <a href="http://weibo.com/hiheyartmarket" title="新浪微博" class="weibo tip" rel="external">新浪微博</a>
            <a href="/static/img/wc_qr.jpg" title="&lt;img src='/static/img/wc_qr.jpg'/&gt;" class="wechat tip" rel="external">微信</a>
          </div>
        </div>
      </div>
    </div>
  </div></div>